---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Source Code Pro;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.8;
$big-font-size: $base-font-size * 1.2;
$base-line-height: 1.5;
$body-font-weight: 300;

$spacing-unit: 30px;

$text-colour: #f8f8f2;
$background-colour: #272822;


$highlight-colour: #fd971f;
$link-colour: #a6e22e;


$grey-colour: #828282;
$grey-colour-light: lighten($grey-colour, 40%);
$grey-colour-dark: darken($grey-colour, 25%);

/* Import partials from `sass_dir` (defaults to `_sass`) */

@import "base";
@import "layout";
@import "syntax-highlighting";