---
# This main sass file requires this front-matter section.
---

@charset "utf-8";

/* 
 * Font & font sizes.
 */
$base-font-family: 'Source Code Pro';
$syntax-font-family: 'Source Code Pro';
$base: 16px; /* All sizes computed from this. */
$base-font-size: $base;
$small-font-size: $base-font-size * 0.75;
$big-font-size: $base-font-size * 1.25;

$body-font-weight: 300;
$header-weight: 500;
$site-title-weight: 700;
$bullet-weight: 700; /* Bullet points are made of text. */


/*
 * All Spacings
 */
/* Line spacing. */
$base-line-height: $base * 1.5;
/* Minimum gap between most elements. */
$standard-margin: $base * 0.3;
/* The minimum left and right gutter for most text.
 * Only affects small screens / squashed windows. */
$standard-side-margin: $base * 0.2;
/* End of paragraph extra space */
$endpara-margin: $standard-margin * 3;


/*
 * Reading width is the max for paragraphs of text and is narrow.
 * Article width is the max for headers, code and other content which can take advantage of wider screens.
 */
$reading-width: $base * 30;
$article-width: $reading-width * 1.4;
/* Bullet points get wider space than standard text blocks. */
$bullet-width: $article-width;
$bullet-indent: $bullet-width / 30;
$bullet-text-gap: $base * 0.5;


/*
 * Colours
 * Only four basic colours, rest are computed.
 */
$text-colour: #f8f8f2;
$background-colour: #272822;
$highlight-colour: #fd971f; /* foreground, lines and headers. */
$link-colour: #a6e22e; /* This sould be the colour for all clickables. */

/* Titles and special elements. */
$feature-colour: darken(mix($background-colour, $highlight-colour), 30%); /* background, bullets and syntax */
$visited-colour: darken($link-colour, 15%);
$code-background: $feature-colour;
$bullet-background: $feature-colour;

/* Colours for borders and lines. */
/* May want to change around lighten/darken for light themes. */
$strong-colour: lighten($highlight-colour, 15%);
$subtle-colour: darken($highlight-colour, 30%);
$very-subtle-colour: darken($highlight-colour, 40%);


/*
 * Misc
 */
/* Border edge radius for the code element. */
$standard-radius: $base * 0.4;
$thin-line: $base * 0.1;
$medium-line:$thin-line * 3;
$thick-line:$thin-line * 7;

/* Import partials from `sass_dir` (defaults to `_sass`) */
/* Normalize is not for editing. 
 * There are many quirks and differences between browsers. 
 * Normalizse is a magic css file for flattening out those differences. 
 * This gives us a safer consistent base to work from.*/
@import "normalize";
@import "base";
@import "layout";
@import "syntax";