<footer class="site-footer">
  <a href="#">Scroll to top</a>
  <br>
  {% if site.email %}<b>Email:</b> {{ site.email }}{% endif %}
  {% if site.github_username %}<b>Github:</b> <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>{% endif %}
  {% if site.twitter_username %}<b>Twitter:</b> <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>{% endif %}
  Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  <br>
  {{site.footer}}
</footer>
