  <footer class="site-footer">
  
    <ul>

      {% if site.email %}
      <li>
      Email:
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        Github:
        <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        Twitter
        <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
      </li>
      {% endif %}
    </ul>

    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> Site RSS </a>
    <br>

    {{site.footer}}

  </footer>
