/* Site header
 */
.site-header {
    border-top: 5px solid $grey-colour-dark;
    border-bottom: 1px solid $grey-colour-light;
    min-height: 56px;
}

/* Site footer
 */
.site-footer {
    border-top: 1px solid $grey-colour-light;
    padding: $spacing-unit 0;
    text-align: center;
}